

/* Quiz page */

.quizPanel {
    min-width: 90%;
    height: 80VH;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(1rem);
}

.quizPanel-left {
  width: 50%;
  height: 100%;
  position: relative;
  background-image: url('../../assets/quizleft.svg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.quizPanel-right {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 50px;
  overflow-y: scroll;
}

.quizPanel-right * {
    position: relative;
}

.quizPanel-right .question {
    margin: 20px auto;
    /* width: 60%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px; */
}

.quizPanel-right .question h2 {
    margin-bottom: 10px;
    color: #eddfdf;
    font-size: 24px;
}

.options {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.options > li > button {
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    /* margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; */
    color: #fff;
}

.results ul {
    list-style: none;
    padding: 0;
}

.results > ul > li > p {
    font-size: 20px;
}

.results > ul > li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.results > ul > li > p:first-child {
    font-size: 24px;
}

@media (max-width : 768px) {
  .quizPanel-left {
    display: none;
  }

  .quizPanel-right {
    width: 100%;
  }
}