

/* Quiz page */

.quizPanel {
    min-width: 90%;
    height: 80VH;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: auto;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 0 8px #28284b;
    background: #06061c;
}

.quizPanel-left {
  width: 50%;
  height: 100%;
  position: relative;
  background-image: url('../../assets/quizleft.svg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quizPanel-left .video {
  position: static;
}

.quizPanel-right {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 50px;
  overflow-y: scroll;
}

.quizPanel-right * {
    position: relative;
}

.quizPanel-right .question {
    margin: 20px auto;
    /* width: 60%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px; */
}

.quizPanel-right .question h2 {
    margin-bottom: 10px;
    color: #eddfdf;
    font-size: 24px;
}

.options {
    list-style: none;
    padding: 0;
    /* display: grid;
    grid-template-columns: auto auto;
    gap: 10px; */
}

.options > li > button {
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 2px solid #45429f;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    /* margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; */
    color: #fff;
}

.results ul {
    list-style: none;
    padding: 0;
}

.results > ul > li > p {
    font-size: 20px;
}

.results > ul > li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.results > ul > li > p:first-child {
    font-size: 24px;
}


.quizPanel-text {
  margin: auto;
  color: rgba(192, 192, 192, 0.9);
  margin-top: 20px;
}

.quizPanel-text h1 {
  font-size: 40px;
  margin: 0;
}

.quizPanel-text h4 {
  font-size: 28px;
  margin: 10px 0 0;
}

.question-num {
  color: #5a5a91;
}

.quizPanel-section{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sharkGif {
  width: 80%;
}
.quizPanel-logo{
  margin-left: auto;
}

.quizPanel-logo img{
  width: 100px;
}

@media (max-width : 990px) {
  .quizPanel{
    flex-direction: column;
    border-radius: 10px;
  }

  .quizPanel-left {
    justify-content: center;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    justify-content: center;
    width: 100%;
  }

  .quizPanel-right {
    width: 100%;
    border-radius: 0;
  }

  .quizPanel-text {
    margin: auto;
    display: flex;
    color: rgba(192, 192, 192, 0.9);
    flex-direction: column;
    margin-top: 0;
    display: none;
  }

  .quizPanel-section{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 10px 0 10px;
    width: 100%;
  }

  .quizPanel-text h1 {
    font-size: 30px;
    margin: 0;
  }

  .quizPanel-text h4 {
    font-size: 22px;
    margin: 10px 0 0;
  }

  .sharkGif {
    width: 150px;
    position: relative;
    margin-bottom: -4px;
  }
}

.options > li > .correct {
  background-color: #2fb12f;
  color: #fff;
  transition: all 1s ease-in;
}

.options > li > .wrong {
  background-color: #df4e4e;
  color: #fff;
  transition: all 1s ease-in;
}

.question .button {
  border-radius: 5px;
}